pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
joblib
streamlit==1.35.0
streamlit-lottie
Pillow
requests
scipy
pydantic==2.6.1
aiohttp==3.9.5
dataclasses-json==0.6.7
frozenlist==1.4.1
langchain==0.1.5
langchain-community==0.0.20
langchain-core==0.1.21
langchain-groq==0.0.1
langsmith==0.0.87
marshmallow==3.21.3
multidict==6.0.5
mypy-extensions==1.0.0
packaging==23.2
typing-inspect==0.9.0
yarl==1.9.4
